<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Free CRM test Automation project">
<!-- <listeners>
<listener class-name="com.crm.qa.ExtentReportListener.ExtentReportListener"/>
</listeners> -->
<test name="Free CRM test">
<classes>
<class name="com.crm.qa.testcases.HomePageTest"/>
<class name="com.crm.qa.testcases.LoginPageTest"/>
<class name="com.crm.qa.testcases.PersonalProfilePageTest"/>
<class name="com.crm.qa.testcases.ContactsPageTest"/>
</classes>
</test>
</suite>